/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

body
  background-color #E8FFFE
  animation glow 25s linear infinite
  text-shadow 0.5px 1px 0px rgba(0,0,0,0.1)
  letter-spacing 0.6px
  font-family "Nunito Sans", sans-serif;
  font-optical-sizing auto;

.content__default
  text-align center

h1
  color black

@keyframes glow
  0%, 100%
    background-color #E8FFFE
  50%
    background-color #C9FFE9

blockquote
  color black
  font-weight bold
  font-style italic
  border none
  padding 1rem 2rem
  background rgba(0, 0, 0, 0.05)
  display inline-block
  position relative

blockquote::before
  content "''"
  position absolute
  left 0
  top 0
  font-size 2rem
  opacity 0.2

blockquote::after
  content "''"
  position absolute
  right 0.5rem
  top 0
  font-size 2rem
  opacity 0.2